<p class="col-xs-3 pull-left" *ngIf="req">{{req|json}} and {{fr}} </p>
<div *ngIf="fl" class="col-sm-offset-2 col-sm-8 table-responsive" infinite-scroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="200" (scrolled)="onScrollDown()">
    <table id="lof" class="table table-striped table-hover table-condensed">
        <caption>List of find's</caption>
        <template let-film ngFor [ngForOf]="showlist">
            <tr>
                <td>
                    <div class='poster' [ngStyle]="setPoster(film.Poster)">
                        <span id='imbd'>{{film.imdbID}}</span>
                    </div>
                </td>
                <td>
                    <span>{{film.Title | uppercase}}</span><br/>
                    <span>{{film.Type}}, {{film.Year}}</span>
                </td>
            </tr>
        </template>
    </table>
    <p class="error col-xs-4 pull-left" *ngIf="errorMessage">{{errorMessage}}</p>
</div>