<h1>{{title}}</h1>
<div class="col-sm-offset-1 col-sm-10">
    {{diagnostic}}
    <button class="btn btn-xs" (click)="clean()">Clear cache</button>
    <div class="bs-component" [hidden]="submitted">
        <form id="sbt-form" role="form" class="well form-inline" (ngSubmit)="onSubmit(form.value)" #form="ngForm">
            <fieldset>
                <legend>Search form</legend>
            </fieldset>
            <div>
                <div class="form-group">
                    <label class="control-label" for="s">Title:</label>
                    <input type="text" id="title" name="s" class="input-small" style="width: 140px;" required [(ngModel)]="serh.s" #ttle="ngModel"> &nbsp;&nbsp;
                    <label class="control-label" for="y">Year:</label>
                    <input type="text" id="year" name="y" class="input-small" style="width: 40px;" [(ngModel)]="serh.y"> &nbsp;&nbsp;
                </div>
                <!--<input type="hidden" name="page" id="page1" value="100">-->
                <div class="form-group">
                    <button id="search-by-title-button" class="btn-sm btn-primary" type="submit">Search</button>
                    <button id="search-by-title-reset" type="reset" class="btn-sm">Reset</button>
                </div>
                <div class="radio"> Select the type:
                    <div class="radio" *ngFor="let type of types">
                        <label>
                            <input type="radio" [ngClass]="type.cls" name="type" [(ngModel)]="serh.type" [value]="type.value">
                            {{type.dsply}}&nbsp;&nbsp;
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div [hidden]="!submitted">
        <div class="row">
            <button class="btn btn-default" (click)="edit()">Edit</button>
            <span>Search result: {{fndResult? fndResult+" items":"0 items"}} </span>
        </div>
        <h2 *ngIf="errmsg" class="col-sm-offset-2 col-sm-4"><b>{{errmsg}}</b></h2>
        <!--test-->
        <!--<div class="row">
            <div class="col-xs-3">model=</div>
            <div class="col-xs-9 pull-left">{{serh|json}}</div>
        </div>-->
        <!--end test-->
        <br>
    </div>
</div>
<find-films [fl]="films" [fr]="fndResult" [req]="search">searching...</find-films>