.poster {
    min-width: 220px;
    max-width: 222px;
    min-height: 320px;
    max-height: 363px;
    background-size: cover;
    background-position: 80%;
}

#imbd {
    background-color: rgba(255, 25, 25, 0.66);
}